.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    font-weight: lighter;
    font-size: 24px;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #8f6552;
}

.form__label--required {
    color: #dc143c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form__input--text input,
.form__input--text select,
.form__input--textarea textarea {
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    color: #8f6552;
}

.form__input--text {
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.form__input--textarea textarea{
    width: 420px;
    height: 130px;
    transform: translate(75px,0);
}

input[name="last-name"],
input[name="first-name"] {
    width: 200px;
    margin-left: 30px;
    transform: translate(83px,0);
}

input[type="radio"] {
    width: 90px;
    height: 20px;
    accent-color: #7b5544;
    transform: translate(30px,0);
}

input[type="email"] {
    width: 425px;
    transform: translate(80px,0);
}

input[type="tel"] {
    width: 120px;
    transform: translate(75px,0);
}

.form__input--text span {
    width: 30px;
    font-size: 20px;
    transform: translate(75px,0);
}

input[name="address"] {
    width: 425px;
    transform: translate(80px,0);
}

input[name="building"] {
    width: 425px;
    transform: translate(80px,0);
}

.form__input--text select {
    width: 250px;
    transform: translate(-95px,0);
}

.form__error {
    height: 20px;
    color: #dc143c;
    text-align: left;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    width: 15%;
    height: 40px;
    border: 1px solid #7b5544;
    background: #7b5544;
    color: #ffffff;
    cursor: pointer;
}